*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One';
}


.nav1{
    display: flex;
    width: auto;
    height: 150px;
    background-color: #8c9491;
    color: whitesmoke;
    padding: 15px;
}

.alrt{
    width: auto;
    height: auto;
    position: fixed 5%;
    font-size: xx-large;
}

.logo{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    height: 200px;
    width: 900px;
}

.textW{
    color: rgb(253, 247, 238);
}

.color-manatee{
    background-color: #8C8C9C;
    color: #2A2F33;
}

li{
    margin-right: 15px;
}

.bac{
    background-color: rgb(151, 31, 51, 0.7);
    color: #2f2426;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}

.uat{
    background-color: #B0C8D4;
    color: #1A2C33;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}

.mrc{
    background-color: #a594c9;
    color: #5c5b5c;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}

.lod{
    background-color: #d55d39;
    color: #322e31;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}
.eoc{
    background-color: #ae9e53;
    color: #424241;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}

.roc{
    background-color: #9bc6a3;
    color: #5a504a;
    display: flex;
    justify-content:    center;
    align-items: center;
    margin: auto;
    height: 75px;
}

.textBox{
    width: auto;
    margin-left: 15px;
    margin-top: 20px;
}

.faction-bar{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.faction-logo{
    width: 70px;
}

.faction-logo-l{
    width: 120px;
}

.faction-text{
    width: 880px;
    height: fit-content;
    display: none;
    margin: auto;
    margin-top: 15px;
    /* visibility: hidden; */
}

.faction-text .show{
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

/* card pictures */
.card{
    width: 220px;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.card:hover{
    filter: brightness(120%);
    transition: .5s ease;
}

/* Model images */

.model_img{
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: none;
}
.model_imgrd:hover{
    filter: brightness(120%);
    transition: .5s ease;
}
.p-1:hover{
    transform:scale(1.2);
    transition: .5s ease;
    border-radius: 15px;
}



/* modal for cards */
.modal1 {
    width: 600px !important; 
    height: 775px !important; 
    display: none; 
    z-index: 1; 
    margin:0 auto;
    position: absolute;
    left: 0;
    right:0;
    top: 50%; 
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color: rgba(0,0,0,0.9); 
}

/* modal for models */
.modal2 {
    width: 600px !important; 
    height: 600px !important; 
    display: none; 
    z-index: 1; 
    margin:0 auto;
    position: fixed;
    left: 0;
    right:0;
    top: 70%; 
    -webkit-transform:translateY(-70%);
    -moz-transform:translateY(-70%);
    -ms-transform:translateY(-70%);
    -o-transform:translateY(-70%);
    transform:translateY(-70%);
    background-color: rgba(0,0,0,0.9); 
}

.modal3 {
    width: 600px !important; 
    height: 600px !important; 
    display: none; 
    z-index: 1; 
    margin:0 auto;
    position: fixed;
    left: 0;
    right:0;
    top: 70%; 
    -webkit-transform:translateY(-70%);
    -moz-transform:translateY(-70%);
    -ms-transform:translateY(-70%);
    -o-transform:translateY(-70%);
    transform:translateY(-70%);
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    display: flex;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-self: center;
    width: 500px !important;
    max-width: 700px;
}


.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */
.close {
    position: absolute;
    top: -5px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.card-container{
    width: 900;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

td{
    padding-right: 15px;
}
td:last-child{
    padding-right: 0px;
}

.stest{
    color: rgb(34, 16, 5)
}

.image_table{
    display: flex;
    justify-content: space-around;
    margin: auto;
}